<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="D-BORA" />
    <meta name="description" content="Un groupe de rock de compositions originales dont les thèmes principaux sont la vie et l'amour." />
    <meta name="keywords" content="rock,groupe rock,D-BORA,musique,musique rock,rock français,hauts de france,guitar,guitarist,guitarists,guitar player,bass,basse,bass player,drums,drum player,vocal,vocals,vocalist,lavie,vie,life,love,amour,l'amour" />
    <title>{{ page.title }}</title>
    <link rel="canonical" href="{% if page.url =='/' %}{{site.url}}{% else %}{{page.url | absolute_url}}{% endif %}">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="page-top">
      <nav class="navbar navbar-expand-lg navbar-custom fixed-top" data-bs-theme="dark">
        <div class="container px-4">
          <a class="navbar-brand" href="index.html#page-top">
            <img src="assets/img/logo@1x.png" srcset="assets/img/logo@2x.png 2x" width="159" height="60" alt="D-BORA" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Menu de navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto gap-lg-1">
              <li class="nav-item"><a class="nav-link" href="bio.html">Le groupe</a></li>
              <li class="nav-item"><a class="nav-link" href="setlist.html">Setlist</a></li>
              <li class="nav-item"><a class="nav-link" href="dates.html">Dates</a></li>
              <li class="nav-item"><a class="nav-link" href="infos.html">Infos</a></li>
              <li class="nav-item"><a class="nav-link" href="media.html">Média</a></li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      {% if include.page %}
        <div class="container-fluid mt-5 py-5">{{ content }}</div>
      {% else %}
        {{ content }}
      {% endif %}
      <footer class="site-footer py-5 mt-5">
        <div class="container px-4">
          <div class="d-flex flex-column flex-md-row align-items-center justify-content-between gap-4">
            <a href="index.html" class="footer-logo">
              <img src="assets/img/logo@1x.png" srcset="assets/img/logo@2x.png 2x" width="120" height="45" alt="D-BORA" />
            </a>
            <div class="d-flex gap-4">
              <a href="https://www.facebook.com/Dbora.groupe.rock" aria-label="Facebook">
                <img src="assets/img/facebook.svg" width="20" height="20" alt="" />
              </a>
              <a href="https://www.youtube.com/channel/UCJvpRzqMZlLowPCS42uATdw" aria-label="YouTube">
                <img src="assets/img/youtube.svg" width="20" height="20" alt="" />
              </a>
              <a href="https://soundcloud.com/d-bora-groupe-rock" aria-label="SoundCloud">
                <img src="assets/img/soundcloud.svg" width="20" height="20" alt="" />
              </a>
            </div>
            <p class="copyright m-0">Copyright &copy; D-BORA 2026</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
